<!DOCTYPE html>
<head>
  <title>Flask BCU OpenAI Demo</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='bculogo2.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='bculogolong.JPG') }}" class="logo" />
  <h3>Please answer the question below:</h3>
  <form action="/" method="post">
  
    <select name="model_type">
      <option value="completion">Completion Model (Davinci)</option>
      <option value="chat" selected>Chat Model (GPT4)</option>
    </select>
  
    <br>
        <!-- Dropdown for question type -->
        <label>
          Question Type:
          <select name="question_type">
            <option value="Improve the English Writing of the following: ">Improve English Writing</option>
            <option value="Summarize the following: ">Summarise</option>
            <option value="Answer question" selected>General Question</option>
          </select>
      </label>
      <br><br> <!-- Add some spacing between dropdown and textarea -->
    <textarea name="question" placeholder="Enter your question" rows="5" cols="50" required style="margin-bottom: 10px;"></textarea>    <input type="submit" value="Submit" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  <button id="copyButton">Copy to Clipboard</button>
  {% endif %}

<script>
    document.getElementById('copyButton').addEventListener('click', function() {
        // Create a temporary textarea to copy text from
        var tempTextarea = document.createElement('textarea');
        tempTextarea.value = document.querySelector('.result').innerText;
        document.body.appendChild(tempTextarea);
        tempTextarea.select();
        document.execCommand('copy');
        document.body.removeChild(tempTextarea);
        alert('Result copied to clipboard!');
    });
</script>
</body>
